{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
           <div class="container-fluid">
            <div class="row">
                {% for b in business %}
                <div class="col-md-6">
                    <div class="card" style="width: 18rem;">
                        <img src="{{b.business_image.url}}" class="card-img-top" alt="{{b.business_name}}">
                        <div class="card-body">
                          <h5 class="card-title">{{b.business_name}}</h5>
                          <p class="card-text">{{b.business_description}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"><h5>Location: </h5>{{b.business_location}}</li>
                          <li class="list-group-item"><h5>Phone: </h5>{{b.business_phone}}</li>
                          <li class="list-group-item"><h5>Email: </h5>{{b.business_email}}</li>
                        </ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Order</a>
                          <a href="#" class="card-link">Reserve</a>
                        </div>
                    </div>
                </div> {% endfor %}
            </div>
           </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}